<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Groupe Horao{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block structured_data %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
